<div>
  <div class="flex justify-center gap-2 items-center my-5 w-4/5 mx-auto">
    <input
      type="text"
      [(ngModel)]="dato_a_buscar"
      placeholder="Buscar producto..."
      class="w-full md:w-1/2 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500"
    />
    <button (click)="buscarProducto()" class="p-2 border-yellow-500 border-2 rounded hover:bg-yellow-400">Buscar</button>
  </div>
  <div class="p-4 text-center rounded-t-lg">
    <h2 class=" text-yellow-700 text-2xl font-bold">
      Menu Wings
    </h2>
</div>
    <div class="flex flex-wrap justify-center gap-4 my-5">
      <button
        (click)="mostrarProductos('burgers_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Hamburguesas
      </button>
      <button
        (click)="mostrarProductos('papas_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Papas
      </button>
      <button
        (click)="mostrarProductos('alitas_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Alitas
      </button>
      <button
        (click)="mostrarProductos('guarniciones_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Guarniciones
      </button>
      <button
        (click)="mostrarProductos('boneless_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Boneless
      </button>
      <button
        (click)="mostrarProductos('hotdogs_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Hotdogs
      </button>
      <button
        (click)="mostrarProductos('carnes_con_queso_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Carnes con queso
      </button>
      <button
        (click)="mostrarProductos('matahambre_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Mata hambre
      </button>
      <button
        (click)="mostrarProductos('especialidades_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Especialidades
      </button>
      <button
        (click)="mostrarProductos('nachos_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Nachos
      </button>
      <button
        (click)="mostrarProductos('pastas_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Pastas
      </button>
      <button
        (click)="mostrarProductos('quetacos_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Que Tacos
      </button>
      <button
        (click)="mostrarProductos('tacos_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Tacos
      </button>
      <button
        (click)="mostrarProductos('sincronizadas_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Sincronizadas
      </button>
      <button
        (click)="mostrarProductos('bebidas_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Bebidas
      </button>
      <button
        (click)="mostrarProductos('malteadas_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Malteadas
      </button>
      <button
        (click)="mostrarProductos('cafes_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Cafes
      </button>
      <button
        (click)="mostrarProductos('cervezas_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Cervezas
      </button>
      <button
        (click)="mostrarProductos('postres_list')"
        class="bg-orange-500 text-white px-4 py-2 rounded uppercase shadow-md hover:bg-orange-600 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
      >
        Postres
      </button>
    </div>
  </div>
  <!-- <app-productos-filtrados [productos]="productos"></app-productos-filtrados> -->
  <ng-container [ngSwitch]="categoriaActual">
    <app-burgers-product *ngSwitchCase="'burgers_list'" [productos]="productos"></app-burgers-product>
    <app-papas-component *ngSwitchCase="'papas_list'" [productos]="productos"></app-papas-component>
    <app-alitas-component *ngSwitchCase="'alitas_list'" [productos]="productos"></app-alitas-component>
    <app-guarniciones-component *ngSwitchCase="'guarniciones_list'" [productos]="productos"></app-guarniciones-component>
    <app-boneless-component *ngSwitchCase="'boneless_list'" [productos]="productos"></app-boneless-component>
    <app-hotdogs-component *ngSwitchCase="'hotdogs_list'" [productos]="productos"></app-hotdogs-component>
    <app-carnes-con-queso-component *ngSwitchCase="'carnes_con_queso_list'" [productos]="productos"></app-carnes-con-queso-component>
    <app-matahambre-component *ngSwitchCase="'matahambre_list'" [productos]="productos"></app-matahambre-component>
    <app-especialidades *ngSwitchCase="'especialidades_list'" [productos]="productos"></app-especialidades>
    <app-nachos *ngSwitchCase="'nachos_list'" [productos]="productos"></app-nachos>
    <app-pastas *ngSwitchCase="'pastas_list'" [productos]="productos"></app-pastas>
    <app-que-tacos *ngSwitchCase="'quetacos_list'" [productos]="productos"></app-que-tacos>
    <app-tacos *ngSwitchCase="'tacos_list'" [productos]="productos"></app-tacos>
    <app-sincronizadas *ngSwitchCase="'sincronizadas_list'" [productos]="productos"></app-sincronizadas>
    <app-bebidas *ngSwitchCase="'bebidas_list'" [productos]="productos"></app-bebidas>
    <app-malteadas *ngSwitchCase="'malteadas_list'" [productos]="productos"></app-malteadas>
    <app-cafes *ngSwitchCase="'cafes_list'" [productos]="productos"></app-cafes>
    <app-cervezas *ngSwitchCase="'cervezas_list'" [productos]="productos"></app-cervezas>
    <app-postres *ngSwitchCase="'postres_list'" [productos]="productos"></app-postres>
  </ng-container>
  