<div>
    <div class="flex relative h-auto">
      <img [src]="logo_humo" alt="" class="block w-full h-lvh object-cover">
      <div class="flex flex-col absolute top-0 left-0 right-0 w-full h-full justify-center">
        <div class="mt-auto mb-24 flex justify-center">
          <button class="btn_header px-4 py-2 rounded">
            Contacto
          </button>
        </div>
      </div>
    </div>
    <div class="my-10">
      <app-carrusel></app-carrusel>
    </div>
    <div class=" my-7">
      <app-buttons-categories-food></app-buttons-categories-food>
    </div>
  </div>
